@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Estilos generales */
:root {
  --blanco-grisaseo: #EFF5F7;
  --blue: #ced5e2;
  --azul-marino-pastel: #7A9BAE;
  --azul-acero-pastel: #b5d4e0;
  --color-texto: #1F2C33;

  --bg-secondary: #F2F6FA;
  --border-color: #E0E0E0;
  --secondary-text-color: #6e6e6e;

  --font-logo: "Reem Kufi", sans-serif;
  --font-titles: "DM Serif Display", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

h3{
  font-size: 2.8rem;
  font-family: var(--font-titles);
  font-weight: normal;
}

.shadow {
  -webkit-box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.5);
  -moz-box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.5);
  box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.5);
}

.btn {
  display: block;
  width: 16rem;
  height: 4rem;
  padding: 0.8rem 1.6rem;

  font-size: 1.8rem;
  /* margin: 1rem 0; */
  /* padding: 1rem; */
  background-color: var(--azul-marino-pastel);
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #EFF5F7;
  /* font-size: 1.8rem; */
}

.btn:hover {
  cursor: pointer;
}

.btn-md{
  width: 16rem;
}

.btn-lg{
  width: 25rem;
}

.icon-btn {
  height: 100%;
  background-color: transparent;
  border: none;
}

.icon-btn:hover {
  cursor: pointer;
}

input {
  display: block;
  font-size: 1.8rem;
  /* margin: 10px auto; */
  padding: 10px;
  /* width: 25rem; */
  /* background-color: var(--blanco-grisaseo); */
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
}

a {
  text-decoration: none;
  color: var(--color-texto);
}

/* --------------------------------------login page------------------------------------ */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--blue);
  font-size: 1.8rem;
}

.login-container {
  background: whitesmoke;
  padding: 20px 80px;
  border-radius: 20px;
  height: 40rem;
  width: 60rem;
  text-align: center;
}

.login-container form>input {
  margin: 10px auto;
  padding: 1rem;
  width: 25rem;
  background-color: var(--blanco-grisaseo);
}

.login-container form>button {
  margin: 1rem auto;
}

.login-container p {
  padding-top: 0.8rem;
}

.forgot-password {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--azul-marino-pastel);
}

.forgot-password:hover {
  text-decoration: underline;
}

/* -----------------------------topbar--------------------------------------- */

.top-bar {
  background-color: var(--bg-secondary);
  flex: 1 1 100%;
  display: flex;
  width: 100%;
  height: 5.6rem;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--border-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.top-bar .logo-container {
  display: flex;
  width: 24.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.top-bar .logo-container .logo {
  display: flex;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
}

.top-bar .logo-container .logo>span {
  color: #56CCF2;
  font-family: var(--font-logo);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.utils {
  display: flex;
  padding: 0 5.6rem;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.search-bar {
  display: flex;
  width: 36rem;
  align-items: center;
  gap: 1.6rem;
  height: 4rem;
  padding: 0;
  align-self: stretch;
  border-radius: 0.8rem;
  background-color: #FFF;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 6px 0;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1 0 0;

}

.search-bar button {
  margin: 6px 0;
}

.search-bar button > img {
  padding-right: 4px;
}

/* --------------------------------Sidebar-------------------------------- */

.sidebar {
  display: flex;
  width: 24.8rem;
  padding: 3.2rem 0;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  flex-shrink: 0;

  background-color: var(--bg-secondary);

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 1.8rem;

  border-right: 1px solid var(--border-color);
}

.profile {
  text-align: center;
  margin-top: 4rem;
}

.profile p {
  margin-top: 1.6rem;
  color: var(--color-texto);
}

.profile-logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1.6rem;
  width: 24.8rem;
}

.menu-item {
  display: inline-block;
  align-self: stretch;
  /* margin: 0.8rem 0; */
  padding: 0;
  text-align: left;
  cursor: pointer;

  border-top: 1px solid var(--border-color);
}

.menu-label {
  display: flex;
  align-self: stretch;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: var(--color-texto);
  padding: 0.8rem 2.4rem;
  cursor: pointer;
  
}

.menu-label:hover {
  background: var(--azul-acero-pastel);
}

.dropdown {
  padding-left: 1.5rem;
  /* border-bottom: 1px solid #1F2C33; */
}

.dropdown li {
  list-style: none;
  display: flex;
  height: 3.2rem;
  padding: 8px 2.4rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown li a {
  text-decoration: none;
  color: var(--color-texto);
}

.dropdown li:hover {
  background-color: var(--azul-acero-pastel);
}

.content {
  margin-left: 25rem;
  flex: 1;
  padding: 2rem;
}



/* ------------------ home page ---------------------- */
.home {
  display: flex;
  flex-direction: column;
  align-items: normal;
  /* align-content: self-start; */
}

.main-content {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  position: fixed;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 5.6rem);
  overflow-y: auto;
}

/* -----------------------------create employee------------------------ */

main{
  width: 100%;
  display: flex;
  padding: 2.4rem 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* flex 1 0 0; */
  margin-left: 24.8rem;
  /* margin-top: 5.6rem; */
}

.form-container{
  display: flex;
  width: 60rem;
  padding: 4rem 2.4rem;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin: auto;
  background-color: var(--bg-secondary);
  border-radius: 1.6rem;
}

.form-container > form {
  display: flex;
  padding: 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  align-items: stretch;
  flex-wrap: wrap;
}

.field {
  display: flex;
  width: 22.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.field > label {
  color: var(--color-texto);
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.field > select, .field > input {
  align-self: stretch;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
  color: var(--secondary-text-color);
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.92rem;
}

.lg{
  width: 47.2rem;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 0 auto;
  padding: 1rem 4rem;
  gap: 2.4rem
}

.disable {
  display: none;
}