/* Estilos generales */
:root{
  --blanco-grisaseo: #EFF5F7;
  --blue: #ced5e2;
  --azul-marino-pastel: #7A9BAE;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  margin: 0;
  box-sizing: inherit;
}

.shadow{
  -webkit-box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
  -moz-box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
  box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
}

.btn {
  display: block;
  font-size: 1.8rem;
  margin: 10px auto;
  padding: 10px;
  width: 25rem;
  background-color: var(--azul-marino-pastel);
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #EFF5F7;
  /* font-size: 1.8rem; */
}

.btn:hover {
  cursor: pointer;
}

/* Estilos de la vista login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--blue);
  font-size: 1.8rem;
}

.login-container {
  background: whitesmoke;
  padding: 20px 80px;
  border-radius: 20px;
  height: 40rem;
  width: 60rem;
  text-align: center;
}

input {
  display: block;
  font-size: 1.8rem;
  margin: 10px auto;
  padding: 10px;
  width: 25rem;
  background-color: var(--blanco-grisaseo);
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
}

.login-container p{
  padding-top: 0.8rem;
}

.forgot-password{
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--azul-marino-pastel);
}

.forgot-password:hover{
  text-decoration: underline;
}

/* Sidebar */

.sidebar{
  width: 25rem;
  background-color: var(--blanco-grisaseo);
  padding: 2rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.profile{
  text-align: center;
}

.profile-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  list-style: none;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.menu-label{
  display: block;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.menu-label:hover{
  background: #4b5563;
}

.dropdown{
  display: none;
  padding-left: 1.5rem;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:checked + dropdown{
  display: block;
}

.dropdown li{
  list-style: none;
  padding: 8px;
  background-color: #4b5563;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown li:hover{
  background-color: #6b7280;
}

.content {
  margin-left: 25rem;
  flex: 1;
  padding: 2rem;
}

/* topbar */

.top-bar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-left: 25rem;
  border-bottom: 1px solid #ccc;
}

.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
}

.search-bar input {
  border: none;
  padding: 5px;
  outline: none;
}