/* Estilos generales */
:root{
  --blanco-grisaseo: #EFF5F7;
  --blue: #ced5e2;
  --azul-marino-pastel: #7A9BAE;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.shadow{
  -webkit-box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
  -moz-box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
  box-shadow: 0 5px 15px 0 rgba(112,112,112,0.5);
}

.btn {
  background-color: var(--azul-marino-pastel);
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #EFF5F7;
}

.btn:hover {
  cursor: pointer;
}

/* Estilos de la vista login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--blue);
}

.login-container {
  background: whitesmoke;
  padding: 20px 80px;
  border-radius: 20px;
  height: 40rem;
  width: 60rem;
  text-align: center;
}

input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 25rem;
  background-color: var(--blanco-grisaseo);
  border-radius: 0.5rem;
  border-color: var(--azul-marino-pastel);
  border-width: 0.1rem;
}

