body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ced5e2;
}
.login-container {
  background: white;
  padding: 100px;
  border-radius: 80px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}